<div>
  <div>
    <h1>
      List of all diet types
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new diet type
    </h2>

    <form action="/insert_diet_type" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <button>
        Create diet type
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_diet_types.each do |a_diet_type| %>
      <tr>
        <td>
          <%= a_diet_type.id %>
        </td>

        <td>
          <%= a_diet_type.name %>
        </td>

        <td>
          <%= time_ago_in_words(a_diet_type.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_diet_type.updated_at) %> ago
        </td>

        <td>
          <a href="/diet_types/<%= a_diet_type.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
