<div>
  <div>
    <h1>
      Diet type #<%= @the_diet_type.id %> details
    </h1>

    <div>
      <div>
        <a href="/diet_types">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_diet_type/<%= @the_diet_type.id %>">
          Delete diet type
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_diet_type.name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_diet_type.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_diet_type.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit diet type
    </h2>

    <form action="/modify_diet_type/<%= @the_diet_type.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_diet_type.name %>">
      </div>

      <button>
        Update diet type
      </button>
    </form>
  </div>
</div>

<hr>
