<p style="color: green"><%= notice %></p>

<%= render @diet_compliance %>

<div>
  <%= link_to "Edit this diet compliance", edit_diet_compliance_path(@diet_compliance) %> |
  <%= link_to "Back to diet compliances", diet_compliances_path %>

  <%= button_to "Destroy this diet compliance", @diet_compliance, method: :delete %>
</div>
