<%= form_with(model: user_diet) do |form| %>
  <% if user_diet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user_diet.errors.count, "error") %> prohibited this user_diet from being saved:</h2>

      <ul>
        <% user_diet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Hidden field for user_id -->
  <%= form.hidden_field :user_id, { :value => current_user.id } %>

  <div>
    <%= form.label :diet_id, "Diet", { :style => "display: block" } %>
    <%= form.collection_select(:diet_id, DietType.all, :id, :name, { :prompt => "Select a diet" }) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
