<p style="color: green"><%= notice %></p>

<%= render @user_diet %>

<div>
  <%= link_to "Edit this user diet", edit_user_diet_path(@user_diet) %> |
  <%= link_to "Back to user diets", user_diets_path %>

  <%= button_to "Destroy this user diet", @user_diet, method: :delete %>
</div>
